body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    max-width: 80ex;
    margin: 5ex auto;
    background-image: url(https://picsum.photos/id/100/640/360/?blur=10);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 30pt;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.player {
    display: block;
    text-align: center;
    margin: 30px 0;
}

.radio {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.radio img {
    width: 200;
    height: 200;
}

.radio img:hover {
    filter: blur(3px);
    }

.radio .name {
    font-weight: bold;
}

.radio .title {
    font-style: italic;
}
