body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    max-width: 80ex;
    margin: 5ex auto;
}

body::before {    
      content: "";
      background-image: url('https://picsum.photos/640/360/?blur=10');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}

h1 {
    font-size: 30pt;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
